body{ 
	background-image: url("bg.png");
	background-repeat: repeat-x;
	margin: 0px;
	background-color: #99cccc;
}

.frame{
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
}
	
.header{
	height: 252px;
	padding-left: 20px;
	padding-right: 20px;
	background-image:url("header.jpg");
}

h1{
	margin: 0px;
}

ul{
	margin: 145px;
	padding: 0px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}
li{
	display: inline;
	font-family: Verdana;
	margin: 5px;
	font-size: 12px;
}

.content{ 
	padding-left: 20px;
	padding-right: 20px;
}

img.top-left{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	
}
img.right{
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	
}

img.left{
	float: left;
margin-right: 15px;
margin-top: 15px;
}

.clear{
	display: block;
	clear: both;
}

